<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003196782310-fi20o8ee30jkjrlprjb1omotbqtge592.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003196782310-fi20o8ee30jkjrlprjb1omotbqtge592</string>
	<key>API_KEY</key>
	<string>AIzaSyAPI2uPGp-z8StpccsjHN9EyiHnj77LDcI</string>
	<key>GCM_SENDER_ID</key>
	<string>1003196782310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>keneishawiggan.com.CustomEmailLogin</string>
	<key>PROJECT_ID</key>
	<string>customemaillogin-42042</string>
	<key>STORAGE_BUCKET</key>
	<string>customemaillogin-42042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003196782310:ios:7eba894115e709f5</string>
	<key>DATABASE_URL</key>
	<string>https://customemaillogin-42042.firebaseio.com</string>
</dict>
</plist>